@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<table class="table table-bordered table-striped">
    <tr>

        <th>
            <p>Hotel Name</p>

        </th>

        <th>
            <p>Address</p>

        </th>
        <th>
            <p>Facilities</p>

        </th>
        <th>
            <p>Budget</p>

        </th>

        <th>
            <p>Capacity</p>

        </th>

        <th></th>

    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>

            <td>@Model.Rows[i][2]</td>

            <td>@Model.Rows[i][10]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][9]</td>

            <td><a href="@Url.Action("Book_Conference", "Home", new {@HotelId=@Model.Rows[i][0]})">Book Now</a></td>
        </tr>
        @*<tr><a href="@Url.Action("Book_Now", "Home", new {@hotelname=@Model.Rows[i][2]})">Hotels</a></tr>*@
    }
</table>



