@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<table class="table table-bordered table-striped">
    <tr>

        <th>
            <p>Hotel Name</p>

        </th>

        <th>
            <p>Address</p>

        </th>
        <th>
            <p>Facilities</p>

        </th>
        <th>
            <p>Budget</p>

        </th>

        <th></th>

    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][7]</td>
            

        </tr>
        <tr><a href="@Url.Action("Book_Now", "Home", new {@hotelname=@Model.Rows[i][2]})">Hotels</a></tr>
    }
</table>



