@model trytry.Models.hotel

@{
    ViewBag.Title = "SHOW_HOTEL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SHOW_HOTEL</h2>

<div>
    <h4>hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotelname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotelname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avaliablerooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avaliablerooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkindate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkindate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkoutdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkoutdate)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
