@model IEnumerable<trytry.Models.City>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>City</h4>
    <hr />
    @foreach (var item in Model)
    {
        <div>
            <div>
               
               @*  @Html.ActionLink(@item.CityName,"Details",new { id=item.CityId})*@
                <h3>@item.CityName</h3>
              

            </div>
            <div>
                <img src=" @Url.Content(item.image) " height=" 350" width="250" />
            </div>


           
            <div><p>@Html.ActionLink("Edit", "Edit", new { id = item.CityId })` </p></div>
            <div><p>@Html.ActionLink("Delete","Delete", new {id = item.CityId })</p></div>
        </div>
    }
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CityId })*@
    @Html.ActionLink("Add City", "Create")
</p>


