@model IEnumerable<trytry.Models.conferenceadmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Conference Hall</h4>
    <hr />
    @foreach (var item in Model)
    {
        <div>
            <div>

                @*  @Html.ActionLink(@item.CityName,"Details",new { id=item.CityId})*@
                <h3>@item.CityName</h3>
                <h3>@item.HallName</h3>
                <h3>@item.facilities</h3>
                <h3>@item.fooditems</h3>
                <h3>@item.capacity</h3>
                <h3>@item.budget</h3>
                <h3>@item.address</h3>


            </div>
            <div>
                <img src=" @Url.Content(item.image) " height=" 350" width="250" />
            </div>



            <div><p>@Html.ActionLink("Edit", "Edit", new { id = item.HallId })` </p></div>
            <div><p>@Html.ActionLink("Delete", "Delete", new { id = item.HallId })</p></div>
        </div>
    }
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CityId })*@
    @Html.ActionLink("Add Conference Hall", "Create")
</p>




