@model IEnumerable<trytry.Models.conferenceadmin1>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}



<div class="container">
    <h2 class="text-center">Conference Hall</h2>
    @foreach (var item in Model)
    {    
        <div class="col-md-3" style="margin-bottom:25px">
            <div class="thumbnail">
                <div class="image" style="margin-bottom:20px">
                    <h2 class="text-center">@item.CityName</h2>
                    <img class="img-responsive" src="@Url.Content(item.image)" height="350" width="240" />
                </div>
                <div class="caption" style="border-top:3px solid #808080">
                    <h3>@item.HallName</h3>
                   
                    <h4>Address:@item.address</h4>
                    <h5>Price per person:@item.budget $</h5>
                    <h6>Capacity:@item.capacity</h6>
                    <h7>Snacks:@item.fooditems</h7>
                    <h8>Facilities:@item.facilities</h8>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.HallId })`
                    @Html.ActionLink("Delete", "Delete", new { id = item.HallId })
                </p>
            </div>

        </div>
    </div>
    }
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CityId })*@
    @Html.ActionLink("Add Conference Hall", "Create")
</p>




